<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScreenTransition3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38A3E2471E751E2E00538781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38A3E2601E751E2E00538781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38A3E26B1E751E2E00538781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
